In [2]:
import pandas
#from keyword_gen_and_fixer import keyword_gen, keyword_fixer

In [3]:
csv = "dataset/ecm_curriculum.csv"
courses_df = pandas.read_csv(csv)
courses_df

,Unnamed: 0,Course Code,course_title_l,keywords
0,0,BCHY101L,Engineering Chemistry,"['engineering chemistry', 'chemistry', 'engine..."
1,1,BCHY101P,Engineering Chemistry Lab,"['engineering chemistry lab', 'chemistry lab',..."
2,2,BMAT101L,Calculus,['calculus']
3,3,BMAT101P,Calculus Lab,"['calculus lab', 'calculus', 'lab']"
4,4,BMAT102L,Differential Equations and Transforms,"['differential equations transforms', 'equatio..."
...,...,...,...,...
94,94,BECM101N,Introduction to Engineering,"['introduction engineering', 'engineering', 'i..."
95,95,BEXC100N,Extra curricular activities,"['extra curricular activities', 'extra curricu..."
96,96,BHUM101N,Ethics and Values,"['ethics values', 'ethics', 'values']"
97,97,BSSC101N,Essence of Traditional Knowledge,"['traditional knowledge', 'essence traditional..."
98,98,BSSC102N,Indian Constitution,"['indian constitution', 'constitution', 'indian']"

In [ ]:
courses_df